* {
    box-sizing: border-box;
}

#container {
    margin: 0px;
    color: var(--pri-white);
}

header {
    background-color: var(--sec-police-blue);
    height: 517px;
}

.about {
    display: flex;
    padding: 150px 165px 0px 165px;
    justify-items: center;
    align-items: center;
    gap: 6rem;
}

.red_dash{
    border: 2px solid var(--pri-light-coral);
    width: 3.5rem;
    margin-bottom: 2rem;
}

.a_h1 {
    flex-grow: 1;
    align-self: baseline;
    padding-top: 3.8rem;
}

.a_p{
    flex-grow: 2;
    padding: 3rem;
}

.a_p p{
    text-align: start;
}

.a_decor1 {
    position: absolute;
    left: 1200px;
    top: 317px;
}

/*================================Director Section============================*/

.directors {
    background-color: var(--pri-midnight-green);
    padding: 140px 165px
}

.directors img {
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--pri-white);
}

.directors h1 {
    justify-self: center;
}

.directors .d_grid{
    
}

.d_grid div{
    background-color: var(--sec-sacramento-state-green);
    height: 253px;
    width: 350px;
}