* {
    box-sizing: border-box;
}

#container {
    margin: 0px;
    color: var(--pri-white);
}

header {
    background-color: var(--sec-police-blue);
    height: 517px;
}

.about {
    display: flex;
    margin: 150px 172px 120px 158px;
    width: 1110px;
    height: 156px;
    justify-items: center;
    align-items: center;
    gap: 3rem;
}

.red_dash{
    border: 2px solid var(--pri-light-coral);
    width: 3.5rem;
    margin-bottom: 1rem;
}

.a_h1 {
    flex-grow: 2;
    align-self: flex-start;
}

.a_h1 .h1-small{
    margin-top: 0px;
}

.a_p{
    width: 730px;
    height: 156px;
    flex-grow: 3;

}

.a_p p{
    text-align: start;
    margin-right: 6rem;
}

.a_decor1 {
    position: absolute;
    left: 1200px;
    top: 317px;
}

/*================================Director Section============================*/

.directors {
    background-color: var(--pri-midnight-green);
    padding: 140px 165px
}

.directors img {
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--pri-white);
}

.directors h1 {
    justify-self: center;
}

.directors .d_grid{
    display: grid;
}

.d_grid div{
    background-color: var(--sec-sacramento-state-green);
    height: 253px;
    width: 350px;
}