:root {
  --pri-midnight-green: #014e56;
  --pri-light-coral: #f67e7e;
  --pri-white: #ffffff;
  --sec-rapture-blue: #d7d7d7;
  --sec-police-blue: #2c6269;
  --sec-deep-jungle-green: #004047;
  --sec-sacramento-state-green: #012f34;
  --sec-dark-green: #002529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  font-family: "Livvic", arial, sans-serif;
  max-width: 1440px;
  min-height: 700px;
  margin: 0 auto;
  width: 100%;
}

.h1-large {
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  line-height: 100px;
}

.h1-small {
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
  line-height: 56px;
}

.h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 48px;
}

.h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
}

.body-1 {
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
}

.body-2 {
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
}

.features-section {
  background-color: var(--sec-sacramento-state-green);
  padding: 140px 165px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-image: url(../assets/bg-pattern-home-3.svg);
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
}

.features-title {
  width: 445px;
  height: 202px;
  color: var(--pri-white);
  padding-left: 164px;
}

.feature-list {
  width: 540px;
  height: 346px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.features-item {
  padding-left: 125px;
  padding-right: 166px;
  display: flex;
  align-items: flex-start;
  gap: 23px;
}

.features-item img {
  width: 72px;
  height: 72px;
  flex-shrink: 0;
}

.features-item h3 {
  color: var(--pri-light-coral);
  margin-bottom: 16px;
}

.features-item p {
  color: var(--pri-white);
  opacity: 0.8;
}
