:root {
  --pri-midnight-green: #014e56;
  --pri-light-coral: #f67e7e;
  --pri-white: #ffffff;
  --sec-rapture-blue: #d7d7d7;
  --sec-police-blue: #2c6269;
  --sec-deep-jungle-green: #004047;
  --sec-sacramento-state-green: #012f34;
  --sec-dark-green: #002529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  font-family: "Livvic", arial, sans-serif;
  max-width: 90rem;
  min-height: 43.75rem;
  margin: 0 auto;
  width: 100%;
}

.h1-large {
  font-weight: 700;
  font-style: normal;
  font-size: 6.25rem;
  line-height: 6.25rem;
}

.h1-small {
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  line-height: 3.5rem;
}

.h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  line-height: 3rem;
}

.h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.body-1 {
  font-weight: 600;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.body-2 {
  font-weight: 600;
  font-style: normal;
  font-size: 0.938rem;
  line-height: 1.563rem;
}

header {
  background-color: var(--pri-midnight-green);
  color: var(--pri-white);
}

/*navbar*/
header {
  align-content: center;
}

.wrapper {
  max-width: 69.375rem;
  width: 100%;
  margin: 0 auto;
}

header nav {
  display: flex;
  align-items: center;
  padding-top: 4.5rem;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-logo {
  display: flex;
  align-items: center;
}

nav-logo img {
  display: block;
  width: 10rem;
  height: auto;
}

.nav-link-container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link a:hover,
.nav-page-link a:hover {
    color: var(--pri-light-coral);
}

.btn{
    padding: 0.625rem 1.875rem;
    border-radius: 2rem;
    background-color: transparent;
}

.btn a{
    color: var(--pri-white);
    text-decoration: none;
}

/* features */
.features-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8.75rem 10.313rem;
  background-color: var(--sec-sacramento-state-green);
  background-image: url(../assets/bg-pattern-home-3.svg);
  background-repeat: no-repeat;
  background-position: right -6.25rem bottom 0;
  gap: 7.8125rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 69.375rem;
  width: 100%;
  margin: 0 auto;
}

.features-line {
  margin-bottom: 3.375rem;
}

.title-line {
  display: block;
  width: 3.125rem;
  height: 0.25rem;
  background-color: var(--pri-light-coral);
}

.features-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 7.8125rem;
}

.features-title {
  max-width: 27.8125rem;
  margin: 0;
  color: var(--pri-white);
}

.features-list {
  width: 33.75rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.features-item {
  display: flex;
  align-items: flex-start;
  gap: 1.4375rem;
}

.features-item img {
  width: 4.5rem;
  height: 4.5rem;
  flex-shrink: 0;
}

.features-item div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.features-item h3 {
  color: var(--pri-light-coral);
  margin: 0;
}

.features-item p {
  color: var(--pri-white);
  opacity: 0.8;
  margin: 0;
}
