/* global variables for colors */
/* colors: primary - pri, secondary - sec */

:root {
  --pri-midnight-green: #014e56;
  --pri-light-coral: #f67e7e;
  --pri-white: #ffffff;
  --sec-rapture-blue: #79C8C7;
  --sec-police-blue: #2c6269;
  --sec-deep-jungle-green: #004047;
  --sec-sacramento-state-green: #012f34;
  --sec-dark-green: #002529;
}

/* make border width count as a part of element etc. */

* {
  box-sizing: border-box;
}

/*base font with fallbacks*/
#container {
  font-family: "Livvic", arial, sans-serif;
  background-color: var(--pri-midnight-green);
  width: 1440px;
  margin: 0px auto;
}

/* headings styles*/

.h1-large {
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  line-height: 100px;
}

.h1-small {
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
  line-height: 56px;
}

.h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 48px;
}

.h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
}

/* text styles*/

.body-1 {
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
}

.body-2 {
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
}

/*navbar*/
header {
  align-content: center;
}

nav {
  color: white;
  width: 69.375rem;
  position: relative;
  top: 4.563rem;
  left: 10.313rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0rem;
  padding-inline: 0rem;
  padding-left: 0rem;
}

nav ul {
  width: 23.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0rem;
}

nav ul li {
  display: inline-block;
  margin: 0rem;
  margin-right: 0rem;

  & a {
    text-decoration: none;
    color: white;
  }
}

nav button {
  font-family: "Livvic", arial, sans-serif;
  width: 9.563rem;
  height: 3rem;
  border: 2px solid white;
  background-color: var(--pri-midnight-green);
  border-radius: 50px;

  & a {
    text-decoration: none;
    color: white;
  }
}

nav ul ul {
  width: 8.75rem;
}

nav ul ul li {
  width: 3.125rem;
}

/*footer*/
#footer {
  align-content: center;
  width: 1440px;
  height: 196px;
  background-color: var(--sec-dark-green);
  color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10.313rem;
  padding-right: 10.313rem;

  & a {
    text-decoration: none;
    color: white;
  }

  & address,
  p {
    opacity: 0.6;
  }
}

#footer div div ul li {
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
  color: white;
}

#footer div address ul {
  list-style-type: none;
}

#footer div:first-child {
  display: flex;
}

#footer div .logo {
  height: 6.25rem;
  width: 10rem;
  display: flex;
  flex-wrap: wrap;

  & img {
    width: 10rem;
    height: 2.5rem;
  }

  & ul {
    padding: 0rem;
    margin: 0rem;
    align-content: end;
    width: 8.75rem;
    height: 1.75rem;

    & li:first-child {
      margin-right: 2.5rem;
    }
  }
}

#footer div address {
  height: 6.25rem;
  margin: 0rem;
  margin-left: 7.813rem;

  & ul {
    padding: 0rem;
    margin: 0rem;
  }
}

#footer .social {
  height: 6.25rem;
  width: 15.938rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;

  & ul {
    list-style-type: none;
    text-align: right;
    padding: 0rem;
    margin: 0rem;
    justify-content: end;
    width: 6.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
  }

  & p {
    margin: 0rem;
    align-content: end;
  }
}

/*ready to get started*/

#ready-to-get-started {
  position: relative;
  color: var(--sec-sacramento-state-green);
  background-color: var(--pri-light-coral);
  height: 12.5rem;
  align-content: center;
  /* display: flex; */
}

#ready-to-get-started button {
  font-family: "Livvic", arial, sans-serif;
  width: 9.563rem;
  height: 3rem;
  border: 2px solid var(--sec-sacramento-state-green);
  background-color: var(--pri-light-coral);
  border-radius: 50px;

  & a {
    text-decoration: none;
    color: var(--sec-sacramento-state-green);
  }
}

#ready-to-get-started div {
  justify-self: center;
  padding-left: 0.188em;
  width: 57.313rem;
  display: flex;
  justify-content: space-between;
}

#ready-to-get-started img {
  position: absolute;
  top: 3.5rem;
}

@media (max-width: 767px) {
  nav.nav {
    width: 20.4375px;
    height: 2rem;
    top: 3rem;
    left: 0;
    margin: 0 auto;
    padding: 0;
  }
}